/*头部*/
.headers{
	height: 56px;
	background-color: #2189bf;
}
.column{
	width: 1193px;
	margin: 0px auto;
	padding-right:87px; 
}
.image{
	float: left;
	padding:10px 0px 0px 50px;
}
.side{
	float: right;
	padding-top:14px; 
}
.side input{
	width: 273px;
	height: 28px;
	border-radius: 14px;
	padding-left: 40px;
	background:#fff /*url(../img/tou.png)编组的图怎么截啊..*/
	no-repeat 17px 6px;line-height:28px;
}
.side a{
	display: inline-block;
	height:28px;
	line-height: 28px;
	color:#fff;
	font-size: 12px;margin:0 20px;
	padding-left:20px;
}