body,div{
	padding:0;
	margin:0; 

}
.round{
	margin: 50px auto;
	width: 400px;
	height: 200px;
	border:1px solid #cccccc;
	overflow:hidden;
	position:relative;
	background-color:#cccccc;
}
.circle, .cir{
	width: 100px;
	height: 100px;
	color: #FFFF00;
	border:1px solid #ffcc00;
	border-radius:50px;
	overflow:hidden;
	background-color:#ffcc00;
}
.circle{
	position:absolute;
	top: 150px;
	left:350px;
}
.cir{
	position:absolute;
	bottom: 150px;
	right: 350px;
}

